#me_name {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    color: 80868b;
    font-size: 72px;
}
#me_header {
    background-color: f1f3f4;
    width: 100%;
}
#me_subheader {
    display: block;
    width: 70%;
    float: right;
}
#me_code_section {
#    display: block;
    float: left;
    width: 70%;
}

#me_invisible_variable_1 {
    visibility: hidden;
}
button {
#    font-family: 'Helvetica', sans-serif;
#    display: block;
    float: left;
#    text-align: center;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    line-height: 10px;
	color: 80868b;
}
p, ul {
    font-family: 'Helvetica', sans-serif;
    padding: 0% 5% 0% 5%;
	color: 40464b;
	#font-weight: bold;
}
pre {
#    font-family: 'Helvetica', sans-serif;
#    display: block;
    float: right;
	width: 35%;
    text-align: left;
}
textarea {
    font-family: 'Helvetica', sans-serif;
#    display: block;
    float: left;
#    text-align: center;
	color: 40464b;
}

